apiVersion: v1
kind: Service
metadata:
  name: {{ include "pulumi-exporter.fullname" . }}
  labels:
    app: {{ template "pulumi-exporter.name" . }}
    chart: {{ template "pulumi-exporter.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: health
      protocol: TCP
      name: health
  selector:
    app: {{ template "pulumi-exporter.name" . }}
    release: {{ .Release.Name }}
